  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #91b6d8;">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"> Social App</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation"></button>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <li [hidden]="accountService.currentUser$ | async">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
          </li>
        </ul>








        <div *ngIf="accountService.currentUser$ | async" >
            <button class="btn btn-secondary" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
            </button><span> Welcome {{usern.username | titlecase}} </span>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>
              </button>
              <button (click)="logout()"  mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
        </div>

  </nav>

  </div>


